.env
/.env
.idea


node_modules
/node_modules


/utilities\transporter.js
utilities\transporter.js

middleware\authMiddleware.js
/middleware\authMiddleware.js

controllers\test.js
/controllers\test.js

/controllers\test.js
controllers\test.js

routes\test.js
/routes\test.js